<h1>Available seat</h1>
<div class="row justify-content-end">
  <div class="col-md-6">
    <!-- Filter -->
    <div class="input-group mb-3">
      <select class="form-control mr-2" id="from-time">
        <option value="">From Time</option>
        <option value="9:00 AM">9:00 AM</option>
        <option value="10:00 AM">10:00 AM</option>
        <option value="11:00 AM">11:00 AM</option>
        <!-- Add more options as needed -->
      </select>
      <select class="form-control ml-2" id="to-time">
        <option value="">To Time</option>
        <option value="12:00 PM">12:00 PM</option>
        <option value="1:00 PM">1:00 PM</option>
        <option value="2:00 PM">2:00 PM</option>
        <!-- Add more options as needed -->
      </select>
      <div class="input-group-append ml-2">
        <button class="btn btn-outline-secondary" type="button">Filter</button>
      </div>
      </div>
    </div>
  </div>
</div>

</div>

<div class="row">
    <div class="row">
      <% @seats.each do |row| %>
        <% @user_seat = @user_seats[row.id] %>
        <div class="col-md-2 mb-4">
          <!-- Grid item <%= row.id %> -->

          <div class="card" data-bs-toggle="modal" data-bs-target="#booking-modal">
            <div class="card-body">
              <h5 class="card-title">Seat number <%= row.number %></h5>
              <p class="card-text">Status: <% status = ['Available', 'Booked'].sample %>
                <% if @user_seat %>
                  <span style="color: red;">Booked</span>
                <% else %>
                  <span style="color: green;">Available</span>
                <% end %>
              </p>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#booking-modal">Book</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row spacer"></div>
    <div class="spacer"></div>
</div>
<div class="modal" tabindex="-1" id="booking-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
