<h1>Available seat</h1>

<div class="row">
    <div class="col-md-6">
        <!-- Filter -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Filter</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <!-- Grid item 1 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Grid Item 1</h5>
                <p class="card-text">Click me!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Grid item 2 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Grid Item 2</h5>
                <p class="card-text">Click me!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Grid item 3 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Grid Item 3</h5>
                <p class="card-text">Click me!</p>
            </div>
        </div>
    </div>
</div>